.vscode
DynamicMemoryAllocation.exe
DynamicMemoryAllocation.ilk
DynamicMemoryAllocation.obj
DynamicMemoryAllocation.pdb
vc140.pdb
save.txt
SavingSystem.exe
SavingSystem.ilk
SavingSystem.obj
SavingSystem.pdb